<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>

		<RollingFile name="logfile" fileName="/data0/logs/letsgo-task.log"
					 filePattern="/data0/logs/letsgo-task.log.%d{yyyyMMdd}">
			<PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"/>
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="console" />
			<appender-ref ref="logfile" />
		</root>

		<!-- Application Loggers -->
		<logger name="com.umessage.letsgo" level="debug">
		</logger>

		<logger name="com.github.pagehelper" level="debug">
		</logger>

		<logger name="org.apache.ibatis" level="debug">
		</logger>

		<logger name="com.github.pagehelper.mapper" level="trace">
		</logger>

		<logger name="org.springframework.test.context.junit4" level="info">
		</logger>

		<!-- 3rdparty Loggers -->
		<logger name="org.springframework.core" level="info">
		</logger>

		<logger name="org.springframework.beans" level="info">
		</logger>

		<logger name="org.springframework.context" level="info">
		</logger>

		<logger name="org.springframework.http" level="info">
		</logger>

		<logger name="org.springframework.web" level="info">
		</logger>

		<logger name="com.umessage.letsgo.core.logging.LoggingFilter" level="DEBUG">
		</logger>

		<logger name="com.umessage.letsgo.core.extensions.velocity.VelocityToolbox2View" level="info">
		</logger>

		<logger name="org.apache.http" level="info">
		</logger>

		<logger name="com.google.maps" level="debug">
		</logger>
	</loggers>
</configuration>




		<!--
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
        <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

            &lt;!&ndash; Appenders &ndash;&gt;
            <appender name="console" class="org.apache.log4j.ConsoleAppender">
                <param name="Target" value="System.out" />
                <layout class="org.apache.log4j.PatternLayout">
                    <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss} [%t]-[%p] - %m%n" />
                </layout>
            </appender>

            <appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
                <param name="File" value="/data0/logs/letsgo-task.log" />
                <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
                <layout class="org.apache.log4j.PatternLayout">
                    <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss} [%t]-[%p] - %m%n" />
                </layout>
            </appender>

            &lt;!&ndash; Application Loggers &ndash;&gt;
            <logger name="com.umessage.letsgo">
                <level value="debug" />
            </logger>

            &lt;!&ndash;<logger name="com.github.pagehelper">
                <level value="debug" />
            </logger>

            <logger name="org.apache.ibatis">
                <level value="debug" />
            </logger>

            <logger name="com.github.pagehelper.mapper">
                <level value="trace" />
            </logger>

            <logger name="org.springframework.test.context.junit4">
                <level value="info" />
            </logger>&ndash;&gt;

            &lt;!&ndash; 3rdparty Loggers &ndash;&gt;
            &lt;!&ndash;<logger name="org.springframework.core">
                <level value="info" />
            </logger>

            <logger name="org.springframework.beans">
                <level value="info" />
            </logger>

            <logger name="org.springframework.context">
                <level value="info" />
            </logger>

            <logger name="org.springframework.http">
                <level value="info" />
            </logger>

            <logger name="com.umessage.letsgo.core.logging.LoggingFilter">
                <level value="DEBUG"/>
            </logger>

            <logger name="com.umessage.letsgo.core.extensions.velocity.VelocityToolbox2View">
                <level value="info"/>
            </logger>&ndash;&gt;

            &lt;!&ndash; Root Logger &ndash;&gt;
            <root>
                <priority value="info" />
                <appender-ref ref="console" />
                <appender-ref ref="logfile" />
            </root>

        </log4j:configuration>
        -->
