<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.umessage.letsgo.dao.journey.HotelScheduleDao" >
    <resultMap id="BaseResultMap" type="com.umessage.letsgo.domain.po.journey.HotelScheduleEntity" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="schedule_detail_id" property="scheduleDetailId" jdbcType="BIGINT" />
        <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
        <result column="same_level" property="sameLevel" jdbcType="INTEGER" />
        <result column="hotel_confirm" property="hotelConfirm" jdbcType="INTEGER" />
        <result column="hotel_input" property="hotelInput" jdbcType="VARCHAR" />
        <result column="delta" property="delta" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="star_lv" property="starLv" jdbcType="VARCHAR" />
        <result column="briefintroduction" property="briefintroduction" jdbcType="VARCHAR" />
        <result column="lon" property="lon" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="CustomResultMap" type="com.umessage.letsgo.domain.po.journey.HotelScheduleEntity" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="schedule_detail_id" property="scheduleDetailId" jdbcType="BIGINT" />
        <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
        <result column="same_level" property="sameLevel" jdbcType="INTEGER" />
        <result column="hotel_confirm" property="hotelConfirm" jdbcType="INTEGER" />
        <result column="hotel_input" property="hotelInput" jdbcType="VARCHAR" />
        <result column="delta" property="delta" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="star_lv" property="starLv" jdbcType="VARCHAR" />
        <result column="briefintroduction" property="briefintroduction" jdbcType="VARCHAR" />
        <result column="lon" property="lon" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

        <collection property="albumScheduleList" ofType="com.umessage.letsgo.domain.po.journey.AlbumScheduleEntity" >
            <id column="al_id" property="id" jdbcType="BIGINT" />
            <result column="al_schedule_detail_id" property="scheduleDetailId" jdbcType="BIGINT" />
            <result column="al_object_id" property="objectId" jdbcType="BIGINT" />
            <result column="al_type" property="type" jdbcType="INTEGER" />
            <result column="al_photo_url" property="photoUrl" jdbcType="VARCHAR" />
            <result column="al_create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="al_update_time" property="updateTime" jdbcType="TIMESTAMP" />
        </collection>
    </resultMap>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from j_hotel_schedule
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.umessage.letsgo.domain.po.journey.HotelScheduleEntity" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into j_hotel_schedule (schedule_detail_id, hotel_name, same_level, hotel_confirm, hotel_input, delta, country, city,
        star_lv, briefintroduction, lon, lat, create_time, update_time)
        values (#{scheduleDetailId,jdbcType=BIGINT}, #{hotelName,jdbcType=VARCHAR},
            #{sameLevel,jdbcType=INTEGER}, #{hotelConfirm,jdbcType=INTEGER}, #{hotelInput,jdbcType=VARCHAR},
            #{delta,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
            #{starLv,jdbcType=VARCHAR}, #{briefintroduction,jdbcType=VARCHAR}, #{lon,jdbcType=VARCHAR},
            #{lat,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.umessage.letsgo.domain.po.journey.HotelScheduleEntity" >
        update j_hotel_schedule
        set schedule_detail_id = #{scheduleDetailId,jdbcType=BIGINT},
            hotel_name = #{hotelName,jdbcType=VARCHAR},
            same_level = #{sameLevel,jdbcType=INTEGER},
            hotel_confirm = #{hotelConfirm,jdbcType=INTEGER},
            hotel_input = #{hotelInput,jdbcType=VARCHAR},
            delta = #{delta,jdbcType=VARCHAR},
            country = #{country,jdbcType=VARCHAR},
            city = #{city,jdbcType=VARCHAR},
            star_lv = #{starLv,jdbcType=VARCHAR},
            briefintroduction = #{briefintroduction,jdbcType=VARCHAR},
            lon = #{lon,jdbcType=VARCHAR},
            lat = #{lat,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select ID, schedule_detail_id, hotel_name, same_level, hotel_confirm, hotel_input, delta, country, city, star_lv, briefintroduction, lon, lat, create_time, update_time
        from j_hotel_schedule
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" >
        select ID, schedule_detail_id, hotel_name, same_level, hotel_confirm, hotel_input, delta, country, city, star_lv, briefintroduction, lon, lat, create_time, update_time
        from j_hotel_schedule
    </select>
    <select id="selectHotelScheduleAndAlbum" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select hs.ID, hs.schedule_detail_id, hs.hotel_name, hs.same_level, hs.hotel_confirm, hs.hotel_input, hs.delta, hs.country, hs.city, hs.star_lv, hs.briefintroduction, hs.lon, hs.lat, hs.create_time, hs.update_time,
		al.ID AS al_id, al.schedule_detail_id AS al_schedule_detail_id, al.object_id AS al_object_id, al.type AS al_type, al.photo_url AS al_photo_url , al.create_time AS al_create_time, al.update_time AS al_update_time
        FROM j_hotel_schedule AS hs
        LEFT JOIN j_album_schedule AS al
        ON al.object_id = hs.ID
		AND al.schedule_detail_id = hs.schedule_detail_id AND al.type = 2
		where hs.ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByScheduleDetailId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select ID, schedule_detail_id, hotel_name, same_level, hotel_confirm, hotel_input, delta, country, city, star_lv, briefintroduction, lon, lat, create_time, update_time
        from j_hotel_schedule
		WHERE schedule_detail_id = #{scheduleDetailId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByScheduleDetailId" parameterType="java.lang.Long" >
        delete from j_hotel_schedule
        where schedule_detail_id = #{scheduleDetailId,jdbcType=BIGINT}
    </delete>
</mapper>