<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.umessage.letsgo.dao.journey.OwnExpenseScheduleDao" >
    <resultMap id="BaseResultMap" type="com.umessage.letsgo.domain.po.journey.OwnExpenseScheduleEntity" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="schedule_id" property="scheduleId" jdbcType="BIGINT" />
        <result column="schedule_detail_id" property="scheduleDetailId" jdbcType="BIGINT" />
        <result column="item_name" property="itemName" jdbcType="VARCHAR" />
        <result column="limit_number" property="limitNumber" jdbcType="VARCHAR" />
        <result column="service_item" property="serviceItem" jdbcType="VARCHAR" />
        <result column="reference_price" property="referencePrice" jdbcType="VARCHAR" />
        <result column="briefintroduction" property="briefintroduction" jdbcType="VARCHAR" />
        <result column="item_city" property="itemCity" jdbcType="VARCHAR" />
        <result column="lon" property="lon" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="CustomResultMap" type="com.umessage.letsgo.domain.po.journey.OwnExpenseScheduleEntity" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="schedule_id" property="scheduleId" jdbcType="BIGINT" />
        <result column="schedule_detail_id" property="scheduleDetailId" jdbcType="BIGINT" />
        <result column="item_name" property="itemName" jdbcType="VARCHAR" />
        <result column="limit_number" property="limitNumber" jdbcType="VARCHAR" />
        <result column="service_item" property="serviceItem" jdbcType="VARCHAR" />
        <result column="reference_price" property="referencePrice" jdbcType="VARCHAR" />
        <result column="briefintroduction" property="briefintroduction" jdbcType="VARCHAR" />
        <result column="item_city" property="itemCity" jdbcType="VARCHAR" />
        <result column="lon" property="lon" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

        <collection property="albumScheduleList" ofType="com.umessage.letsgo.domain.po.journey.AlbumScheduleEntity" >
            <id column="al_id" property="id" jdbcType="BIGINT" />
            <result column="al_schedule_detail_id" property="scheduleDetailId" jdbcType="BIGINT" />
            <result column="al_object_id" property="objectId" jdbcType="BIGINT" />
            <result column="al_type" property="type" jdbcType="INTEGER" />
            <result column="al_photo_url" property="photoUrl" jdbcType="VARCHAR" />
            <result column="al_create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="al_update_time" property="updateTime" jdbcType="TIMESTAMP" />
        </collection>
    </resultMap>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from j_own_expense_schedule
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.umessage.letsgo.domain.po.journey.OwnExpenseScheduleEntity" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into j_own_expense_schedule (schedule_id, schedule_detail_id, item_name, limit_number, service_item, reference_price, briefintroduction, item_city, lon, lat, create_time, update_time)
        values (#{scheduleId,jdbcType=BIGINT}, #{scheduleDetailId,jdbcType=BIGINT}, #{itemName,jdbcType=VARCHAR}, #{limitNumber,jdbcType=VARCHAR}, #{serviceItem,jdbcType=VARCHAR},
        #{referencePrice,jdbcType=VARCHAR}, #{briefintroduction,jdbcType=VARCHAR}, #{itemCity,jdbcType=VARCHAR}, #{lon,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.umessage.letsgo.domain.po.journey.OwnExpenseScheduleEntity" >
        update j_own_expense_schedule
        set schedule_id = #{scheduleId,jdbcType=BIGINT},
            schedule_detail_id = #{scheduleDetailId,jdbcType=BIGINT},
            item_name = #{itemName,jdbcType=VARCHAR},
            limit_number = #{limitNumber,jdbcType=VARCHAR},
            service_item = #{serviceItem,jdbcType=VARCHAR},
            reference_price = #{referencePrice,jdbcType=VARCHAR},
            briefintroduction = #{briefintroduction,jdbcType=VARCHAR},
            item_city = #{itemCity,jdbcType=VARCHAR},
            lon = #{lon,jdbcType=VARCHAR},
            lat = #{lat,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select ID, schedule_id, schedule_detail_id, item_name, limit_number, service_item, reference_price, briefintroduction, item_city, lon, lat, create_time, update_time
        from j_own_expense_schedule
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" >
        select ID, schedule_id, schedule_detail_id, item_name, limit_number, service_item, reference_price, briefintroduction, item_city, lon, lat, create_time, update_time
        from j_own_expense_schedule
    </select>
    <select id="selectOwnExpenseScheduleAndAlbum" resultMap="CustomResultMap" parameterType="java.lang.Long" >
        select oe.ID, oe.schedule_id, oe.schedule_detail_id, oe.item_name, oe.limit_number, oe.service_item, oe.reference_price, oe.briefintroduction, oe.item_city, oe.lon, oe.lat, oe.create_time, oe.update_time,
		al.ID AS al_id, al.schedule_detail_id AS al_schedule_detail_id, al.object_id AS al_object_id, al.type AS al_type, al.photo_url AS al_photo_url , al.create_time AS al_create_time, al.update_time AS al_update_time
        FROM j_own_expense_schedule AS oe
		LEFT JOIN j_album_schedule AS al
		ON al.object_id = oe.ID
		AND al.schedule_detail_id = oe.schedule_detail_id AND al.type = 3
        WHERE oe.ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectOwnExpenseScheduleByScheduleId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select ID, schedule_id, schedule_detail_id, item_name, limit_number, service_item, reference_price, briefintroduction, item_city, lon, lat, create_time, update_time
        from j_own_expense_schedule
        where schedule_id = #{scheduleId,jdbcType=BIGINT}
    </select>
    <select id="selectOwnExpenseScheduleByScheduleDetailId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select ID, schedule_id, schedule_detail_id, item_name, limit_number, service_item, reference_price, briefintroduction, item_city, lon, lat, create_time, update_time
        from j_own_expense_schedule
        where schedule_detail_id = #{scheduleDetailId,jdbcType=BIGINT}
    </select>
    <delete id="deleteOwnExpenseScheduleByScheduleId" parameterType="java.lang.Long" >
        delete from j_own_expense_schedule
        where schedule_id = #{scheduleId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteOwnExpenseScheduleByScheduleDetailId" parameterType="java.lang.Long" >
        delete from j_own_expense_schedule
        where schedule_detail_id = #{scheduleDetailId,jdbcType=BIGINT}
    </delete>
</mapper>