#set($pageTitle="团队行程管理")
#set($layout="/WEB-INF/views/common/layout/layout.vm")
#set($scriptUrls=["$!{STATIC_URL}/resources/dist/js/jquery.form.js","$!{STATIC_URL}/resources/plugins/blockUI/jquery.blockUI.js"])

<!-- Site wrapper -->
<div class="wrapper">
    #parse("/WEB-INF/views/common/leftbar.vm")
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                导入游客
            </h1>
            <ol class="breadcrumb">
                <li><a href="$!{link.contextPath}/schedule/main"><i class="fa fa-home"></i> 首页</a></li>
                <li class="active">行程管理</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box box-info">
                <div class="box-body">
                    <div class="sui-steps steps-auto">
                        <div class="wrap">
                            <div class="current">
                                <label><span class="round"><i class="sui-icon icon-pc-right"></i></span><span>创建行程</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="current">
                                <label><span class="round">2</span><span>导入游客</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="todo">
                                <label><span class="round">3</span><span>确认团队行程</span></label>
                            </div>
                        </div>
                    </div><!--sui-steps end-->
                    <form name="exampleInputFile" class="form-horizontal"  id="exampleInputFile" action="$!{link.contextPath}/member/memberImportExcel" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-3 control-label">批量添加游客信息</label>
                            <div class="col-sm-8">
                                    <input type="file" name="file" placeholder="选择游客资料文件">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                            <button class="btn btn-primary memberImportExcel" type="button">导入</button>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <a href="$!{link.contextPath}/member/templateDownloads">导入文件模板下载</a>
                            </div>
                        </div>
                    </form>
                    <div class="box no-border" style="display:none;">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-bordered" id="memberImportExcel">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>出生日期</th>
                                    <th>手机</th>
                                    <th>证件类型</th>
                                    <th>证件号码</th>
                                    <th>有效期</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="input-group-btn text-center">
                                <form role="form" action="$!{link.contextPath}/schedule/confirmScheduleInit" method="get" id="form1" class="form-horizontal">
                                        <input type="hidden" autocomplete="off" name="tId" value="$!{tId}"/>
                                        <button class="btn btn-primary" type="submit" style="margin-top:40px;margin-bottom:60px;">下一步</button>
                                    </form>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加游客</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <form class="form-horizontal" action="$!{link.contextPath}/member/memberAdd" method="get" id="form3">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="realName"><strong>*</strong>姓名</label>
                                    <div class="col-md-3">
                                        <input type="text" placeholder="姓名" id="realName" name="realName" class="form-control">
                                        <input type="hidden" autocomplete="off" name="tId" value="$!{tId}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="sex"><strong>*</strong>性别</label>
                                    <div class="col-md-3">
                                        <select class="form-control" name="sex">
                                            <option value="1">男</option>
                                            <option value="2">女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="birthday">出生日期</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" id="birthday" class="form-control" placeholder="yyyy-mm-dd" readonly autocomplete="off" name="birthday">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="inputNamel3"><strong>*</strong>手机号</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="手机号" id="phone" name="phone" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="cardType">证件类型</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="cardType">
                                            <option vulue="">无</option>
                                            <option value="身份证">身份证</option>
                                            <option value="导游证">导游证</option>
                                            <option value="军人证">军人证</option>
                                            <option value="港澳通行证">港澳通行证</option>
                                            <option value="护照">护照</option>
                                        </select>
                                        <input type="hidden"  name="cardType" value="">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="cardNum"><strong>*</strong>证件号码</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="证件号码" id="cardNum" name="cardNum" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="cardTime"><strong>*</strong>有效期</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="yyyy-mm-dd" id="cardTime" name="cardTime" readonly class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-3 col-md-offset-3"><button class="btn btn-primary btn-block btn-sm" type="submit">保存</button></div>

                                </div>
                            </form>
                        </div><!-- /.box-body -->
                        <div class="box-footer">

                        </div><!-- /.box-footer -->
                    </div>
                    <div class="overlays" style="display:none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <div id="dialogModal" style="display:none">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button" onclick="blockUIClose()">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">消息</h4>
                </div>
                <div class="modal-body" style="text-align:center;font-size:14px;">
                    <p></p>
                </div>
                <div class="modal-footer text-center" style="text-align:center;">
                    <!--<button data-dismiss="modal" class="btn btn-default pull-left" type="button" onclick="blockUIClose()">关闭</button>-->
                    <button class="btn btn-primary" onclick="blockUIClose()" type="button">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    #parse("/WEB-INF/views/common/footer.vm")
</div><!-- ./wrapper -->
#define($scriptBlock)
<script>
    $(function () {
        if(!$("#cardType").val()||$("#cardType").val()=="无"){

            $("[name=cardType]").val("");
            $("[name=cardNum]").parents(".form-group").hide();
            $("[name=cardTime]").parents(".form-group").hide();
        }else{
            $("[name=cardType]").val($("#cardType").val());
            $("[name=cardCode]").parents(".form-group").show();
            $("[name=cardTime]").parents(".form-group").show();
        }
        $("#cardType").on("change",function(){
            if(!$("#cardType").val()||$("#cardType").val()=="无"){
                $("[name=cardType]").val("");
                $("[name=cardNum]").parents(".form-group").hide();
                $("[name=cardTime]").parents(".form-group").hide();
            }else{
                $("[name=cardType]").val($(this).val());
                $("[name=cardNum]").parents(".form-group").show();
                $("[name=cardTime]").parents(".form-group").show();
            }
        })
        $('#form3').bootstrapValidator({
            message: '填写信息格式不正确',
            feedbackIcons: {
                valid: '',
                invalid: '',
                validating: ''
            },
            fields: {
                realName: {
                    message: '姓名格式不正确',
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        }
                    }
                },
                sex: {
                    validators: {
                        notEmpty: {
                            message: '请选择性别'
                        }
                    }
                },
                birthday: {
                    validators: {
                        date: {
                            format: 'YYYY-MM-DD',
                            message: '日期格式不正确'
                        }
                    }
                },
                phone: {
                    validators: {
                        notEmpty: {
                            message: '请填写手机号'
                        },
                        threshold :  11 , //有11字符以上才发送ajax请求，（input中输入一个字符，插件会向服务器发送一次，设置限制，6字符以上才开始）
                        remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                            url: CONTEXTPATH + '/member/memberPhoneRepeatCheck',//验证地址
                            message: '当前团队已存在该手机号，不可重复录入',//提示消息
                            delay :  2000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            type: 'GET',//请求方式
                            /**自定义提交数据，默认值提交当前input value*/
                             data: function(validator) {
                               return {
                                   phone: $('[name="phone"]').val(),
                                   tId:$('[name="tId"]').val()
                               }
                            }
                        },
                        regexp: {
                            regexp:  /^(\+86)?((1[3,5,8][0-9])|(14[5,7])|(17[0,1,6,7,8]))\d{8}$/,
                            message: '手机号码格式不正确'
                        }
                    }
                },
                cardNum :{
                    validators: {
                        notEmpty: {
                            message: '请填写证件号码'
                        }
                    }
                },
                cardTime :{
                    validators: {
                        notEmpty: {
                            message: '请填写证件有效期'
                        },
                        date: {
                            format: 'YYYY-MM-DD',
                            message: '日期格式不正确'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {

            }
        }).on('success.form.bv', function (e) {
            // Prevent form submission
            //e.preventDefault();
            //console.log('Coucou');
            var _form = $(e.target);
            _form.next(".overlays").show();
            _form.ajaxForm({
                beforeSubmit:function(formData, jqForm, options){
                    var value_p = $('[name=phone]').val();
                    var boolphone1=true
                    if(value_p.indexOf("+86")>=0){
                       value_p= value_p.replace(/\+/g, "%2B");
                    }
                    $.ajax({
                        type: "GET",
                        url:  CONTEXTPATH + "/member/memberPhoneRepeatCheck?phone=" + value_p,//验证地址
                        data: {tId:$("[name=tId]").val()},
                        async:false,
                        dataType: "json",
                        success: function (data) {
                            if (data.valid == false) {
                                boolphone1= true;
                            } else if (data.valid == true) {
                                boolphone1= false;
                            }
                        }
                    });
                    if(!boolphone1){
                      //  alert("手机号重复");
                        $("#dialogModal").find(".modal-body>p").html("当前团队已存在该手机号，不可重复录入");
                        blockUIOpenShare("dialogModal");
                        return false;
                    }
                },
                success: function (data) {
                    var html="";
                    if(data.retCode==0){
                        var dataObj=data.member;
                        if(dataObj.id){
                                html= '<tr>'+
                                        '<td>'+ (dataObj.realName?dataObj.realName:"")+'</td>'+
                                        '<td>'+ ((dataObj.sex == "1") ? '男' : '女')+'</td>'+
                                        '<td>'+ (dataObj.birthday?dataObj.birthday:"")+'</td>'+
                                        '<td>'+ (dataObj.phone?dataObj.phone:"")+'</td>'+
                                        '<td>'+ (dataObj.cardType?dataObj.cardType:"")+'</td>'+
                                        '<td>'+ (dataObj.cardNum?dataObj.cardNum:"")+'</td>'+
                                        '<td>'+ (dataObj.cardTime?dataObj.cardTime:"")+'</td>'+
                                        '</tr>';
                            $("#memberImportExcel").find("tbody").append(html);
                            $("#memberImportExcel").parents(".box:eq(0)").show();
                            $("#form3").find("[type=submit]").attr("disabled",false);
                            //清空
                            $("#form3").resetForm();
                            $("[name=cardType]").val("");
                            $("[name=cardNum]").parents(".form-group").hide();
                            $("[name=cardTime]").parents(".form-group").hide();
                        }
                    }else{
                        //alert(data.retMsg);
                        $("#dialogModal").find(".modal-body>p").html(data.retMsg);
                        blockUIOpenShare("dialogModal");
                        $("#form3").find("[type=submit]").attr("disabled",false);
                    }
                    _form.next(".overlays").hide();
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    _form.next(".overlays").hide();
                    $("#dialogModal").find(".modal-body>p").html("错误，请重试。");
                    blockUIOpenShare("dialogModal");
                    $("#form3").find("[type=submit]").attr("disabled",false);
                 }
            })
        });
        $('#birthday').datetimepicker({
            language:  'zh-CN',
            format: 'yyyy-mm-dd',
            autoclose: true,
            endDate:new Date(),
            minView: "month"
        }).on('changeDate show', function(e) {
            // Revalidate the date when user change it
            $('#form3').bootstrapValidator('revalidateField', 'birthday');
        });
        $('#cardTime').datetimepicker({
            language:  'zh-CN',
            format: 'yyyy-mm-dd',
            autoclose: true,
            startDate:new Date(),
            minView: "month"
        }).on('changeDate show', function(e) {
            // Revalidate the date when user change it
            $('#form3').bootstrapValidator('revalidateField', 'birthday');
        });
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });

        $('.memberImportExcel').click(function(){
            doUpload()
        });
        function doUpload() {
            $(".overlays").show();
            var formData = new FormData($( "#exampleInputFile" )[0]);
            $.ajax({
                url: '$!{link.contextPath}/member/memberImportExcel?tId=$!{tId}',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    var html="";
                    if(returndata.retCode==0) {
                        var dataObj = returndata.memberList;
                        if (dataObj.length > 0) {
                            for (var i = 0; i < dataObj.length; i++) {
                                html += '<tr>' +
                                        '<td>' + (dataObj[i].realName?dataObj[i].realName:"") + '</td>' +
                                        '<td>' + ((dataObj[i].sex == "1") ? '男' : '女') + '</td>' +
                                        '<td>' + (dataObj[i].birthday?dataObj[i].birthday:"") + '</td>' +
                                        '<td>' + (dataObj[i].phone?dataObj[i].phone:"") + '</td>' +
                                        '<td>' + (dataObj[i].cardType?dataObj[i].cardType:"") + '</td>' +
                                        '<td>' + (dataObj[i].cardNum?dataObj[i].cardNum:"") + '</td>' +
                                        '<td>' + (dataObj[i].cardTime?dataObj[i].cardTime:"") + '</td>' +
                                        '</tr>';

                            }
                            $("#memberImportExcel").find("tbody").append(html);
                            $("#memberImportExcel").parents(".box:eq(0)").show();
                        }
                    }else{
                        //alert(returndata.retMsg);
                        $("#dialogModal").find(".modal-body>p").html(returndata.retMsg);
                        blockUIOpenShare("dialogModal");
                    }
                    $(".overlays").hide();
                },
                error: function (returndata) {
                    $(".overlays").hide();
                    console.log(returndata);
                }
            });
        }
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false
        });
    });
</script>

#end