#set($pageTitle="401")
#set($layout="/WEB-INF/views/common/layout/layout.vm")
#set($styleUrls=["$!{STATIC_URL}/resources/css/style.css"])
<div class="errorCon">
<div class="error"></div>
<div class="errorTit">401 你懂的！</div>
<div>#if($!message)$!message #else 当前请求需要验证。 #end</div>
</div>
