#set($pageTitle="error")
#set($layout="/WEB-INF/views/common/layout/layout.vm")
#set($styleUrls=["$!{STATIC_URL}/resources/css/style.css"])
<div class="errorCon">
    <div class="error"></div>
    <div class="errorTit">出错了！</div>
    <div>#if($!message)$!message #else 程序出现错误。 #end</div>
</div>
