#set($pageTitle="自费项目")
#set($layout="/WEB-INF/views/common/layout/layout.vm")
#set($styleUrls=["$!{STATIC_URL}/resources/css/style.css?t=1.0"])
<style>
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width:auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>
	<input type="checkbox" id="joacims-menu"/>
	<label class="bottomLabel fellLabel" for="joacims-menu"></label>
	<div class="main">
		<section class="cd-container feiyong">
		<div class="desionCon">
					<div class="day_con_list">
				
						<div class="sceniclist" style="margin-top:0px;padding-right:0;">
							<ul>
#if($response.scheduleEntity.ownExpenseSchedules.size()>0)
	#set($isce=0)
#foreach( $Detail in $response.scheduleEntity.ownExpenseSchedules)
	#set($iscew=$isce + 1)
	#if($Detail.itemName&&$Detail.itemName!="")
							<li>
							<a href="$!{link.contextPath}/h5/survey/getOwnExpenseByOwnExpenseId?ownExpenseId=$!{Detail.id}">
								#if($Detail.albumScheduleList.size()>0)

									#foreach( $Detailalbum in $Detail.albumScheduleList)
                                        <div class="mistionImg">
											#if($!{velocityCount}==1)
                                                <img src="$!{Detailalbum.photoUrl}"/>
											#end
                                        </div>
									#end
								#end
                                <div class="#if($Detail.albumScheduleList.size()>0)mistesion #else mistesionto #end"><span>$!{iscew}.$!{Detail.itemName}</span></div>
							</a>
							</li>
		#end
	#set($isce=$isce+1)
	#end
	#end


							</ul>
						</div>
					</div>
					
				</div>
				<div class="buc">
					<h1>补充说明</h1>
					<div>$!response.costInfoVo.ownExpenceInfo</div>
					</div>
		</section>
	</div>
#if($!response.scheduleEntity.processStatus==4)
<div class="zw-footer">
    <input type="button" id="errorSchedule" value="报错">
    <input type="button" id="confirmSchedule" value="确认无误">
</div>
#end
#parse("/WEB-INF/views/common/leftbar.vm")
#define($scriptBlock)
	<script type="text/javascript">
        var teamId="$!{response.scheduleEntity.teamId}";
        var iswechat="${response.isWeChat}";
        $(function(){
            $(".overlay").click(function(){
                $("#joacims-menu").prop("checked",false)
            })
            /*判断是否显示已经到底*/
            if($(window).height()>$("body").height()){
                $(".continue_loding").hide();
            }
            $(".qitaicon").on("click",function(){
                if($(".qita").is(":visible")){
                    $(".qita").slideUp();
                    $(this).addClass("qitaicons");
                }else{
                    $(".qita").slideDown();
                    $(this).removeClass("qitaicons");
                }

            })
            $(".buc img").css({
                display: "block",
                height:"auto",
                marginLeft:"3%",
                maxWidth:"90%"
            });
            var marr=[];
            $(".buc table").each(function(i){
                $(this).wrap("<div class='swiper-container'><div class='swiper-wrapper wrappertable"+i+"'><div class='swiper-slide'></div></div></div>");
                $(".wrappertable"+i).parent().append('<div class="swiper-scrollbar"></div>');
                marr[i]=new Swiper('.swiper-container', {
                    scrollbar: '.swiper-scrollbar',
                    direction: 'horizontal',
                    slidesPerView: 'auto',
                    mousewheelControl: true,
                    freeMode: true
                });
            })

        })
	</script>
#end