<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="GlobleExceptionHandler" class="com.umessage.letsgo.core.errorhandler.WebExceptionHandler">
        <property name="order" value="-100"/>
        <property name="properties">
            <map>
                <entry key="STATIC_URL" value="${STATIC_URL}"/>
            </map>
        </property>
    </bean>
</beans>
