#set($pageTitle="线路评价数据")
#set($layout="/WEB-INF/views/common/layout/layout.vm")
###set($scriptUrls=["http://cdn.hcharts.cn/highcharts/highcharts.js"])
#set($scriptUrls=["$!{STATIC_URL}/resources/dist/js/page.js","$!{STATIC_URL}/resources/plugins/blockUI/jquery.blockUI.js","$!{STATIC_URL}/resources/dist/js/jquery.form.js"])

<!--<style type="text/css">


			#zhuzhuang {
				min-width: 400px;
				height: 400px;
				border: 1px solid #ccc;
				-webkit-box-shadow: 3px 3px 3px;
				-moz-box-shadow: 3px 3px 3px;
				box-shadow: 3px 3px 3px;
			}

			.remark {
				width: 100%;
				height: 40px;
				line-height: 1.5;
				margin-top: 20px;
				color: #333333;
			}

			.highcharts-xaxis-labels text tspan {
				color: #000000;
				font-weight: 900;
			}
		</style>-->
<style>
    .disabled{
        cursor:no-drop;
    }
</style>


		<!-- Site wrapper -->
		<div class="wrapper">
			#parse("/WEB-INF/views/common/leftbar.vm")


			<!-- Left side column. contains the sidebar -->


			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
			                                    统计报表
			        </h1>
					<ol class="breadcrumb">
						<li><a href="$!{link.contextPath}/schedule/mainPage"><i class="fa fa-dashboard"></i> 首页</a></li>
						<li class="active">查看统计报表</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">线路评价数据</h3>
							<!--<div class="box-tools"><a class="btn btn-default btn-sm" href="#">预览</a></div>-->
						</div>
						<!-- /.box-header -->

						<div class="box-body">
								<form class="form-horizontal"  role="form" action="$!{link.contextPath}/lineEvaluate/getLineList"  method="post" id="form4">
									<div class="col-md-12" style="padding-left:0;">
                                        <div class="form-group col-md-4">
                                            <label for="exampleInputName2" class="control-label col-lg-5">大洲：</label>
                                            <div class="col-lg-7">
                                                <select class="form-control" tabindex="-1" name="continent" aria-hidden="true">
                                                    <option value="10" #if($!{request.continent}=="10") selected
													#end>亚洲</option>
                                                    <option value="11" #if($!{request.continent}=="11") selected
													#end>欧洲</option>
                                                    <option value="12" #if($!{request.continent}=="12") selected
													#end>北美洲</option>
                                                    <option value="13" #if($!{request.continent}=="13") selected
													#end>南美洲</option>
                                                    <option value="14" #if($!{request.continent}=="14") selected
                                                    #end>非洲</option>
                                                    <option value="15" #if($!{request.continent}=="15") selected
                                                    #end>大洋洲</option>
                                                    <option value="16" #if($!{request.continent}=="16") selected
                                                    #end>南极洲</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="exampleInputEmail2" class="control-label col-lg-5">国家：</label>
                                            <div class="col-lg-7">
                                                <select class="form-control" tabindex="-1" name="country" aria-hidden="true">
                                                    <option>泰国</option>
                                                    <option>越南</option>
                                                    <option>印尼</option>
                                                    <option>马来西亚</option>
                                                    <option>新加坡</option>
                                                    <option>菲律宾</option>
                                                </select>
                                            </div>
                                        </div>
									</div>

                                    <!--时间日期-->
                                    <div class="form-group col-md-4">

                                        <label for="inputEmail3"  class="control-label  col-lg-5" for="startPlace">月份：</label>
                                        <div class="col-lg-7">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" placeholder="yyyy-mm" value="$!date.format('yyyy-MM',$!{request.startDate})" readonly autocomplete="off" name="startDate" id="startDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <!-- /.input group -->
                                        <label class="col-lg-1 control-label text-center" style="padding-left:10px;padding-right:10px;">至</label>
                                        <div class="col-lg-7 ">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" id="endDate" name="endDate"  value="$!date.format('yyyy-MM',$!{request.endDate})" placeholder="yyyy-mm" class="form-control" readonly autocomplete="off">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2 col-md-offset-5">
                                            <button type="button" id="btns" class="btn btn-block  btn-primary">查询</button>
                                        </div>
                                    </div>
								</form>
							<div class="col-xs-12  table-responsive" style="margin-top: 20px;">
								<table class="table table-bordered" id="table2" style="display:none;">
									<thead>
										<tr>
											<th>线路</th>
											<th>时间</th>
											<th>出团次数</th>
											<th>评价总人数</th>
											<th>综合评分</th>
										</tr>
									</thead>
                                    <tbody class="change">
#*#foreach( $Detail in $response.lineList)
                                        <tr>
                                            <td>${Detail.lineName}</td>
                                            <td>${Detail.date}</td>
                                            <td>${Detail.travelCount}</td>
                                            <td>${Detail.evaluateCount}</td>
                                            <td>${Detail.totalScore}星</td>
                                        </tr>

#end*#
									</tbody>
								</table>
                                <div id="pagination" class="paginationjs paginationjs-small">

                                </div>
							</div>
##							<div class="col-md-8 col-md-offset-2">
##								<div id="zhuzhuang"></div>
##								<p class="remark">备注：此数据来源于本旅行社用户在跟上客户端的点评，如需查看更详细数据、以及其他旅行社用户数据，请联系跟上销售经理。</p>
##							</div>
						</div>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			#parse("/WEB-INF/views/common/footer.vm")

			<!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>
		</div>
		<!-- ./wrapper -->

<div id="dialogModal" style="display:none">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button" onclick="blockUIClose()">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body" style="text-align:center;font-size:14px;">
                <p></p>
            </div>
            <div class="modal-footer text-center" style="text-align:center;">
                <!--<button data-dismiss="modal" class="btn btn-default pull-left" type="button" onclick="blockUIClose()">关闭</button>-->
                <button class="btn btn-primary" onclick="blockUIClose()" type="button">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
#define($scriptBlock)
		<script>
            $('#startDate').datetimepicker({
                language:  'zh-CN',
                format: 'yyyy-mm',
                autoclose: true,
                startView: 3,
                minView: 3,
            }).on("click",function(ev){
                $("#startDate").datetimepicker("setEndDate", $("#endDate").val());
            });
            $('#endDate').datetimepicker({
                language:  'zh-CN',
                format: 'yyyy-mm',
                autoclose: true,
                startView: 3,
                minView: 3
            }).on("click", function (ev) {
                $("#endDate").datetimepicker("setStartDate", $("#startDate").val());
            });
            var areaid="$!{request.country}";
            $.ajax({
                type: "GET",
                url:  CONTEXTPATH + "/region/getCountry",//根据大洲编码获取国家
                data: {delta:$("[name=continent]").val()},
                async:false,
                dataType: "json",
                success: function (data) {
                    $("[name=country]").empty();
                    $.each(data, function (i, item) {
                        $("[name=country]").append('<option '+(item.alias==areaid?"selected":"")+'  value="'+item.alias+'">'+item.alias+'</option>')

                    })
                }
            });
            $("[name=continent]").on("change",function(){
                var _value=$(this).val();
                $.ajax({
                    type: "GET",
                    url:  CONTEXTPATH + "/region/getCountry",//根据大洲编码获取国家
                    data: {delta:_value},
                    async:false,
                    dataType: "json",
                    success: function (data) {
                        $("[name=country]").empty();
                        $.each(data, function (i, item) {
                            $("[name=country]").append('<option value="'+item.alias+'">'+item.alias+'</option>')

                        })
                    }
                });
            });
            $("#btns").on("click",function(){
                if(!$("[name=startDate]").val() || !$("[name=endDate]").val()){
                    $("#dialogModal").find(".modal-body>p").html("请输入开始时间和结束时间");
                    blockUIOpenShare("dialogModal");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url:  CONTEXTPATH + "/lineEvaluate/getLineList",
                    data: {continent:$("[name=continent]").val(),country:$("[name=country]").val(),startDate:$("[name=startDate]").val(),endDate:$("[name=endDate]").val()},
                    dataType: "HTML",
                    success: function (data) {
                        $("#table2").find("tbody").empty().html(data)
                        $("#pagination").show();
                        if(data.indexOf("没有符合条件的数据")>=0){
                            $("#pagination").hide();
                        }
                        $('#pagination').pagination({
                            dataSource: CONTEXTPATH + "/lineEvaluate/getLineList",
                            locator: 'data',
                            totalNumber: totalpages,
                            pageSize: 10,
                            pageRange:1,
                            alias: {
                                pageNumber: 'pageNum',
                                pageSize: 'pageSize'
                            },
                            ajax: {
                                //url:delQueStr(delQueStr(window.location.href, "pageNum"), "pageSize"),
                                type: "POST",
                                data: {continent:$("[name=continent]").val(),country:$("[name=country]").val(),startDate:$("[name=startDate]").val(),endDate:$("[name=endDate]").val()},
                                dataType: 'html',
                                beforeSend: function () {
                                    //$("#table2").empty().html('<td  colspan="7">  <div class="overlays"> <i class="fa fa-refresh fa-spin"></i> </div></td>').end().parent().show();
                                }
                            },
                //            formatAjaxError:function(jqXHR, textStatus, errorThrown){
                //                //$("#table2").find("tbody").empty().html($(jqXHR.responseText).find("tbody").html())
                //                //console.log(jqXHR)
                //            },
                            callback: function (data, pagination) {
                                $("#table2").show();
                                $("#table2").find("tbody").empty().html(data);
                            }
                        })
                    }
                });
            })
//				$('#zhuzhuang').highcharts({
//					chart: {
//						type: 'column'
//					},
//					title: {
//						text: '2016年1月——5月各线路好评率'
//					},
//					//		        subtitle: {
//					//		            text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
//					//		        },
//					xAxis: {
//						type: 'category',
//						labels: {
//							rotation: -45,
//							style: {
//								fontSize: '13px',
//								fontFamily: 'Verdana, sans-serif'
//							}
//						}
//					},
//					yAxis: {
//						min: 0,
//						title: {
//							text: '好评率(%)'
//						}
//					},
//					legend: {
//						enabled: false
//					},
//					tooltip: {
//						pointFormat: '2016年1月—5月线路好评率: <b>{point.y:.1f} %</b>'
//					},
//					series: [{
//						name: '百分比',
//						data: [
//							['曼谷、普吉岛七日浪漫之旅', 85],
//							['美国西部海岸九日游', 75],
//							['日本大阪+京都+箱根7日游', 90],
//							['澳门+香港5日购物之旅', 83],
//							['泰国-曼谷-芭提雅7日游', 87]
//						],
//						dataLabels: {
//							enabled: true,
//							rotation: -90,
//							color: '#FFFFFF',
//							align: 'right',
//							format: '{point.y:.1f}', // one decimal
//							y: 10, // 10 pixels down from the top
//							style: {
//								fontSize: '13px',
//								fontFamily: 'Verdana, sans-serif'
//							}
//						}
//					}]
//				});
//				$('#zhuzhuang text:last-child').eq(5).html("");
		</script>
#end