#set($pageTitle="团队行程管理")
#set($layout="/WEB-INF/views/common/layout/layout.vm")
#set($scriptUrls=["$!{STATIC_URL}/resources/plugins/iCheck/icheck.min.js","$!{STATIC_URL}/resources/dist/js/diaoyan.js","$!{STATIC_URL}/resources/plugins/blockUI/jquery.blockUI.js"])
<style type="text/css">
    ul,li{
        list-style: none;
    }
    h3{font-size:18px;}
    .quesNum{
        margin:0;
    }
    .quesNum ul li .box{
        border-top:0;
    }
    .quesNum ul li .box h3{
        font-weight: 900;
    }
    .tab-pane{
        width:100%;
        min-height:500px;
    }
    .question{
        border-bottom: 1px solid #ccc;
    }
    .quesNum .question:last-child{
        border-bottom:0;
    }
    .quesNum{
        width:100%;
        /*min-height:100px;*/

    }
    .question .quesTitle{
        font-weight: 900;
        font-size: 16px;
    }
    .question .quesTitle1{
        font-weight: 900;
        font-size: 20px;
        margin-top:5px;
    }
    .col-two{
        margin-left:10px;
    }
    .col-two li{
        line-height:20px;
    }
    .additem{
        width:100px;
        height:34px;
        line-height: 34px;
        padding:0 0 0 20px !important;
        font-weight:100;
    }

    .tab-pane-two div{
        text-align: center;
        margin-top:20px;
    }
    .tab-pane-two div img{
        width:150px;
        height:200px;
    }
    .tab-pane-two div p{
        text-align: center;
        line-height:30px;
        margin-bottom:0;
    }
    .nav-tabs-custom{
        box-shadow: 0 1px 1px rgba(0,0,0,0.0);
    }
    .progress{
        margin:5px 0;
    }
    .tab-pane-three{
        padding:30px 50px;
    }
    .tab-pane-three-div .span-title{
        font-weight: 900;
        font-size: 16px;
        height:30px;
    }
    .tab-pane-three-div li  .satisfy-col{
        height:30px;
        line-height: 30px;
        width:180px;
    }
    .checkbox{
        margin-top:0;
        margin-bottom:10px;
    }
    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
        margin-left:0;
    }.addQues{
         border:1px solid #ccc;
         min-height:100px;
         margin:20px 10%;
     }
    .tijiao{
        margin-bottom:20px;
    }
    .zidingyi{
        border-top:1px solid #ddd;
    }
    .nav-title li a{
        font-size: 20px;
        font-weight: 900;
    }
    .prog{
        padding-left:0;
        padding-right:0;
    }
    .questionTitle{display:inline;_zoom:1;display:inline-block;}
    .question span,.question p{display:inline;_zoom:1;display:inline-block;}
</style>


<!-- Site wrapper -->
<div class="wrapper">

	#parse("/WEB-INF/views/common/leftbar.vm")

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                行程管理
            </h1>
            <ol class="breadcrumb">
                <li><a href="$!{link.contextPath}/schedule/mainPage"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">行程管理</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">满意度调研</h3>
                    <!--<div class="box-tools"><a class="btn btn-default btn-sm" href="#">预览</a></div>-->
                </div>
                <!-- /.box-header -->

                <div class="box-body  content">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs nav-title">
                                <li class="active"><a href="#">问卷设计</a></li>
                                <li class=""><a href="$!{link.contextPath}/survey/getQuestionnaireList?surveyId=$!surveyId" >问卷回收</a></li>
                               <!-- <li class=""><a href="#">问卷统计</a></li>-->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <!--满意度调查问题模板-->
#if($!newEntity.surveyStatus!=1)

    <div style="min-height:90px;border-bottom:1px solid #ddd;">
                                        <p style="margin:20px;font-size: 20px;">满意度调查问题模板</p>
                                        <div class="form-group" id="deleteQuestion">
                                            <div class="checkbox checkbox-inline">
                                                <label>
                                                    <input type="checkbox" id="allpj"  #foreach( $Detail in $list) #if($Detail.title=="整体而言，此次行程让我感到满意？")
                                                           checked #end #end>&nbsp;&nbsp;&nbsp;整体评价
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <label>
                                                    <input type="checkbox" id="hotelpj" #foreach( $Detail in $list) #if($Detail.title=="行程中是住宿条件符合合同约定？")
                                                           checked #end #end>&nbsp;&nbsp;&nbsp;酒店评价
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <label>
                                                    <input type="checkbox" id="foodpj" #foreach( $Detail in $list) #if($Detail.title=="行程中的餐饮规格符合合同约定标准？")
                                                           checked #end #end>&nbsp;&nbsp;&nbsp;餐饮评价
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <label>
                                                    <input type="checkbox" id="secpj"  #foreach( $Detail in $list) #if($Detail.title=="行程中的景点线路安排合理，令人印象深刻？")
                                                           checked #end #end>&nbsp;&nbsp;&nbsp;景点评价
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <label>
                                                    <input type="checkbox" id="travelpj" #foreach( $Detail in $list) #if($Detail.title=="旅行交通工具舒服，安全，高效？")
                                                           checked #end #end>&nbsp;&nbsp;&nbsp;交通服务
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <label>
                                                    <input type="checkbox" id="severpj"  #foreach( $Detail in $list) #if($Detail.title=="导游或领队总能积极高效的帮助游客解决问题？")
                                                           checked #end #end>&nbsp;&nbsp;&nbsp;服务人员
                                                </label>
                                            </div>
                                        </div>
                                    </div>
    #end
                                    <form role="form" action="$!{link.contextPath}/survey/saveQuestionAndOpiton" method="post" id="form1" class="form-horizontal">
                                        <input type="hidden" name="surveyId" value="$!surveyId"/>
                                        <!--模板问题-->

                                        <div class="quesNum row">
                                            <div class="col-xs-12">
                                                <h3 style="font-weight: 900;height:100%;">模板问题</h3>
                                            </div>
                                    #if($!newEntity.surveyStatus!=1)
                                            <div class="question col-md-10 col-md-offset-1" id="allQue">
                                                <h3 class="quesTitle col-md-12">
                                                    <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle" type="6">整体而言，此次行程让我感到满意？</p><p>（单选题）</p></div>
                                                    <input type="hidden" value="4" name="questionTypesub"/>

                                                    <button type="button" class="col-md-2 btn btn-block btn-danger btn-sm list-inline" style="width:70px;">删除</button>
                                                </h3>
                                                <ul class="col-md-12">
                                                    <li class="col-md-2">A、</span><p>非常同意</p></li>
                                                    <li class="col-md-2"><span>B、</span><p>同意</p></li>
                                                    <li class="col-md-2"><span>C、</span><p>一般</p></li>
                                                    <li class="col-md-2"><span>D、</span><p>不同意</p></li>
                                                    <li class="col-md-2"><span>E、</span><p>特别不同意</p></li>
                                                </ul>


                                            </div>
                                            <div class="question col-md-10 col-md-offset-1"  id="hotelQue">
                                                <h3 class="quesTitle col-md-12">
                                                    <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle" type="3">行程中是住宿条件符合合同约定？</p><p>（单选题）</p></div>
                                                    <input type="hidden" value="4" name="questionTypesub"/>
                                                    <button type="button" class="col-md-2 btn btn-block btn-danger btn-sm list-inline" style="width:70px;">删除</button>
                                                </h3>

                                                <ul class="col-md-12">
                                                    <li class="col-md-2">A、</span><p>非常同意</p></li>
                                                    <li class="col-md-2"><span>B、</span><p>同意</p></li>
                                                    <li class="col-md-2"><span>C、</span><p>一般</p></li>
                                                    <li class="col-md-2"><span>D、</span><p>不同意</p></li>
                                                    <li class="col-md-2"><span>E、</span><p>特别不同意</p></li>
                                                </ul>


                                            </div>
                                            <div class="question col-md-10 col-md-offset-1"  id="fullQue">
                                                <h3 class="quesTitle col-md-12">
                                                    <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle" type="4">行程中的餐饮规格符合合同约定标准？</p><p>（单选题）</p></div>
                                                    <input type="hidden" value="4" name="questionTypesub"/>
                                                    <button type="button" class="col-md-2 btn btn-block btn-danger btn-sm list-inline" style="width:70px;">删除</button>
                                                </h3>

                                                <ul class="col-md-12">
                                                    <li class="col-md-2">A、非常同意</li>
                                                    <li class="col-md-2">B、同意</li>
                                                    <li class="col-md-2">C、一般</li>
                                                    <li class="col-md-2">D、不同意</li>
                                                    <li class="col-md-2">E、特别不同意</li>
                                                </ul>

                                            </div>
                                            <div class="question col-md-10 col-md-offset-1" id="jdQue">
                                                <h3 class="quesTitle col-md-12">
                                                    <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle" type="1">行程中的景点线路安排合理，令人印象深刻？</p><p>（单选题）</p></div>
                                                    <input type="hidden" value="4" name="questionTypesub"/>
                                                    <button type="button" class="col-md-2 btn btn-block btn-danger btn-sm list-inline" style="width:70px;">删除</button>
                                                </h3>

                                                <ul class="col-md-12">
                                                    <li class="col-md-2">A、</span><p>非常同意</p></li>
                                                    <li class="col-md-2"><span>B、</span><p>同意</p></li>
                                                    <li class="col-md-2"><span>C、</span><p>一般</p></li>
                                                    <li class="col-md-2"><span>D、</span><p>不同意</p></li>
                                                    <li class="col-md-2"><span>E、</span><p>特别不同意</p></li>
                                                </ul>

                                            </div>

                                            <div class="question col-md-10 col-md-offset-1"  id="dyQue">
                                                <h3 class="quesTitle col-md-12">
                                                    <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle" type="5">导游或领队总能积极高效的帮助游客解决问题？</p><p>（单选题）</p></div>
                                                    <input type="hidden" value="4" name="questionTypesub"/>
                                                    <button type="button" class="col-md-2 btn btn-block btn-danger btn-sm list-inline" style="width:70px;">删除</button>
                                                </h3>

                                                <ul class="col-md-12">
                                                    <li class="col-md-2">A、</span><p>非常同意</p></li>
                                                    <li class="col-md-2"><span>B、</span><p>同意</p></li>
                                                    <li class="col-md-2"><span>C、</span><p>一般</p></li>
                                                    <li class="col-md-2"><span>D、</span><p>不同意</p></li>
                                                    <li class="col-md-2"><span>E、</span><p>特别不同意</p></li>
                                                </ul>

                                            </div>
                                            <div class="question col-md-10 col-md-offset-1" id="sjQue">
                                                <h3 class="quesTitle col-md-12">
                                                    <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle" type="2">旅行交通工具舒服，安全，高效？</p><p>（单选题）</p></div>
                                                    <input type="hidden" value="4" name="questionTypesub"/>
                                                    <button type="button" class="col-md-2 btn btn-block btn-danger btn-sm list-inline" style="width:70px;">删除</button>
                                                </h3>

                                                <ul class="col-md-12">
                                                    <li class="col-md-2">A、</span><p>非常同意</p></li>
                                                    <li class="col-md-2"><span>B、</span><p>同意</p></li>
                                                    <li class="col-md-2"><span>C、</span><p>一般</p></li>
                                                    <li class="col-md-2"><span>D、</span><p>不同意</p></li>
                                                    <li class="col-md-2"><span>E、</span><p>特别不同意</p></li>
                                                </ul>

                                            </div>

##                                        #foreach( $Detail in $list)
##                                            <div class="question col-md-10 col-md-offset-1">
##                                                <div class="question col-md-12">
##                                                    <h3 class="quesTitle col-md-12">
##                                                        <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle">$Detail.title</p><p>（单选题）</p></div>
##                                                        <input type="hidden" value="4" name="questionTypesub"/>
##                                                        <button type="button" class="col-md-2 btn btn-block btn-danger btn-sm list-inline" style="width:70px;">删除</button>
##                                                    </h3>
##                                                    <ul class="col-md-12">
##                                                        <li class="col-md-2 col-md-offset-1">A、</span><p>非常同意</p></li>
##                                                        <li class="col-md-2"><span>B、</span><p>同意</p></li>
##                                                        <li class="col-md-2"><span>C、</span><p>一般</p></li>
##                                                        <li class="col-md-2"><span>D、</span><p>不同意</p></li>
##                                                        <li class="col-md-2"><span>E、</span><p>特别不同意</p></li>
##                                                    </ul>
##                                                </div>
##
##                                            </div>
##                                        #end
                                        #else
                                            #foreach( $Detail in $listnew)
                                                <div class="question col-md-10 col-md-offset-1">
                                                    <div class="question col-md-12">
                                                        <h3 class="quesTitle col-md-12">
                                                            <div class="col-md-12 list-inline">问题<span></span>：<p class="questionTitle">$Detail.title</p><p>（单选题）</p></div>
                                                        </h3>
                                                        <ul class="col-md-12">
                                                            <li class="col-md-2">A、</span><p>非常同意</p></li>
                                                            <li class="col-md-2"><span>B、</span><p>同意</p></li>
                                                            <li class="col-md-2"><span>C、</span><p>一般</p></li>
                                                            <li class="col-md-2"><span>D、</span><p>不同意</p></li>
                                                            <li class="col-md-2"><span>E、</span><p>特别不同意</p></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            #end
                                    #end
                                        </div>
<input type="hidden" name="travelId" value="$!{newEntity.travelId}"/>
                                    <input type="hidden" name="teamId" value="$!{newEntity.teamId}"/>
                                    <input type="hidden" name="title" value="$!{newEntity.title}"/>
                                        <!--自定义问题-->
                                        <div class="quesNum row zidingyi" style="border-bottom:0;">
                                            <div class="col-xs-12">
                                                <h3 style="font-weight: 900;height:100%;">自定义问题</h3>
                                            </div>
											<div id="questionsub">

                                                #foreach( $Detail in $radio)
                                                    <div class="question col-md-10 col-md-offset-1">

                                                        <h3 class="quesTitle col-md-12">
                                                            <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle">$Detail.title</p><p>（单选题）</p></div>
                                                            <input type="hidden" value="1" name="questionTypesub"/>
                                                            #if($!newEntity.surveyStatus!=1) <button style="width:70px;display:inline;" class="col-md-2 btn btn-block btn-danger btn-sm" type="button">删除</button>#end
                                                        </h3>
                                                        <ul class="col-md-10">
                                                            #set($zimu = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"])
                                                            #set($k=0)
                                                            #foreach( $Details in $Detail.list)
                                                                <li class="col-md-2"> <span class="optionid">$zimu.get($k)：</span> <p>$Details.optionContent</p></li>
                                                                #set($k=$k+1)
                                                            #end
                                                        </ul>
                                                    </div>
                                                #end


                                                #foreach( $Detail in $check)
                                                    <div class="question col-md-10 col-md-offset-1">

                                                        <h3 class="quesTitle col-md-12">
                                                            <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle">$Detail.title</p><p>（多选题）</p></div>
                                                            <input type="hidden" value="2" name="questionTypesub"/>
                                                            #if($!newEntity.surveyStatus!=1) <button style="width:70px;display:inline;" class="col-md-2 btn btn-block btn-danger btn-sm" type="button">删除</button>#end
                                                        </h3>
                                                        <ul class="col-md-10">
                                                            #set($zimumore = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"])
                                                            #set($kmore=0)
                                                            #foreach( $Details in $Detail.list)
                                                                <li class="col-md-2">  <span class="optionid">$zimumore.get($kmore)：</span><p>$Details.optionContent</p></li>
                                                                #set($kmore=$kmore+1)
                                                            #end
                                                        </ul>
                                                    </div>
                                                #end
                                                #foreach( $Detail in $answer)
                                                    <div class="question col-md-10 col-md-offset-1">

                                                        <h3 class="quesTitle col-md-12">
                                                            <div class="col-md-10 list-inline">问题<span></span>：<p class="questionTitle">$!{Detail.title}</p><p>（问答题）</p></div>
                                                            <input type="hidden" value="3" name="questionTypesub"/>

                                                            #if($!newEntity.surveyStatus!=1) <button style="width:70px;display:inline;" class="col-md-2 btn btn-block btn-danger btn-sm" type="button">删除</button>#end
                                                        </h3>


                                                        <div class="form-group col-md-12">
                                                            <textarea class="form-control" rows="5" placeholder="$!Details.description" disabled></textarea>
                                                        </div>

                                                    </div>
                                                #end
											</div>
                                        </div>
                                        <!--填写问题-->
#if($!newEntity.surveyStatus!=1)

    <div class="addQues col-md-10 col-md-offset-1">
                                                <div class="form-group" style="margin-top:20px;">
                                                    <label for="" class="col-sm-1 control-label" style="width:100px;height:34px;line-height: 34px;padding:0 0 0 20px;">填写问题：</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control writeQues" placeholder="填写内容...">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <select class="form-control" name="questionType">
                                                            <option value="1">单选</option>
                                                            <option value="2">多选</option>
                                                            <option value="3">开放性问题</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group itemAdd" style="margin-top:20px;">
                                                    <label for="" class="col-sm-1 control-label additem">选项<span>1</span>、</label>
                                                    <i class="fa fa-times" style="margin-top:10px;"></i>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="输入内容...">
                                                    </div>
                                                </div>
                                                <div class="form-group itemAdd" style="margin-top:20px;">
                                                    <label for="" class="col-sm-1 control-label additem">选项<span>2</span>、</label>
                                                    <i class="fa fa-times" style="margin-top:10px;"></i>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="输入内容...">
                                                    </div>
                                                </div>
                                                <div class="form-group brforeInsert" style="margin-top:20px;">
                                                    <div class="col-md-4 col-md-offset-1">
                                                        <i class="fa fa-fw fa-plus addItem" style="font-size: 25px;"></i>
                                                        <span style="vertical-align: middle;color:#999999;">添加选项</span>
                                                    </div>
                                                </div>

                                                <button type="button" class="tijiao btn btn-primary col-md-1 col-md-offset-1">保存</button>
                                        </div>
                                        <!--保存按钮-->
                                        <div style="min-height:50px;text-align:center;">
                                            <button type="button" class="btn btn-primary col-md-1 col-md-offset-5" id="btns" style="font-size: 18px;margin-bottom:20px;">提交</button>
                                        </div>

                                    </form>
#end

                                </div>

                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
	#parse("/WEB-INF/views/common/footer.vm")


    <!-- Add the sidebar's background. This div must be placed
   immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<div id="dialogModal" style="display:none">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button" onclick="blockUIClose()">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body" style="text-align:center;font-size:14px;">
                <p></p>
            </div>
            <div class="modal-footer text-center" style="text-align:center;">
                <!--<button data-dismiss="modal" class="btn btn-default pull-left" type="button" onclick="blockUIClose()">关闭</button>-->
                <button class="btn btn-primary" onclick="blockUIClose()" type="button">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="dialogModal2" style="display:none">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button aria-label="Close" data-dismiss="modal" class="close" type="button" onclick="blockUIClose()">
                    <span aria-hidden="true">×</span></button>-->
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body" style="text-align:center;font-size:14px;">
                <p></p>
            </div>
            <div class="modal-footer text-center" style="text-align:center;">
                <!--<button data-dismiss="modal" class="btn btn-default pull-left" type="button" onclick="blockUIClose()">关闭</button>-->
                <button class="btn btn-primary" id="sure" type="button">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
#define($scriptBlock)
<script>
	var s="1"
    var id="$!surveyId";
    var title="$!newEntity.title";
    var teamId="$!newEntity.teamId";
    var surveyStatus="$!surveyEntity.surveyStatus";
</script>
#end