#set($layout="/WEB-INF/views/common/layout/layoutnew.vm")


#if($response.scheduleList.size()>0)
	#foreach( $Detail in $response.scheduleList)
    <tr>
        <td><a href="$!{link.contextPath}/schedule/schedulePreview?id=$!{Detail.jourId}">$!{Detail.schName}</a></td>
        <td>第$!{Detail.dimDD}天</td>
    </tr>

	#end

#else
<tr><td colspan="2">没有符合条件的数据</td></tr>
#end




<script type="text/javascript">


    var totalpage="$!{response.totals}";
</script>