@charset "utf-8";

*{margin:0;padding: 0;}
ul,li{
  list-style:none;
}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}

input,textarea{-webkit-appearance:none;}

html,body{
  width:100%;
  height:100%;
}
#dp-container{
  width:100%;
  height:100%;
}
/*title*/
.dpTitle{
  width:100%;
  height:96px;
  position: relative;
}
.dpTitle:after{ content:""; display:block; position:absolute;left:0; bottom:-1px; width:100%; height:1px; background:#d9d9d9; transform:scaleY(0.5); transform-origin:bottom;}
.dpTitle1{
  height:96px;
  padding:0 3%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dp-title-img img{
  width:76px;
  height:76px;
  flex-grow: 1;  object-fit: cover;
}
.dp-title-text{
  font-size: 18px;
  flex:1;
  padding-left:20px;
}
.dp-title-text p{
  font-size:18px;
}
/*08月24日*/
.dp-month{
  width:94%;
  height:38px;
  padding:0 3%;
  line-height:38px;
  font-size: 17px;
  color:#1fbad1;
}
/*问题1*/
.ques1{
  width:100%;
  float:left;
  padding-bottom: 10px;
}
.quesTitle{
  background:#f0eff5;
  width:80%;
  /* 	height:34px; */
  line-height:34px;
  padding:0 10%;
  color:#333333;
  font-size:14px;
}
.itemList ul{
  padding:10px 3%;
  width:94%;
}

.itemList ul li{
  float:left;
  width:44%;
  height:35px;
  display: inline-block;
  line-height:35px;
  padding-left:6%;
}
.itemList ul li span{
  font-size: 14px;
  vertical-align: middle;
}
.itemList ul li label{
  font-size: 14px;
  vertical-align: middle;
}
.active-bg{
  background: #f0eff5;
}
.advice{
  border:1px solid #4cc8da;
  width:80%;
  height:39px;
  margin:10px 9% 10px 10%;
  text-indent:10px;
}
/*评分*/
.pingfen{
  width:80%;
  height:35px;
  line-height: 35px;
  padding-left:10%;
  font-size: 15px;
  color:#333333;
}
.pingfen1{
  margin-top:15px;
}
.pingfen span{
  display: inline-block;
  min-width:60px;
  padding-right: 6px;
}
.pingfen ul{
  height:35px;
  line-height: 35px;
  display: inline;
}
.pingfen ul li{
  display: inline;
  height:35px;
  line-height: 35px;
}
.pingfen ul li img{
  vertical-align: middle;
  margin-bottom: 4px;
  width:20px;
  height:19px;
  margin-left:4px;
}
/*提交*/
.dp-submit{
  width:100%;
  height:49px;
  border:0;
  background: #1fbad1;
  color:#fff;
  font-size: 18px;
  margin-top:10px;
  position: fixed;
  left:0;
  bottom:0;
}
/**/
@media (max-width: 300px) {
  .dp-title-text{
    font-size: 14px;
    padding-left:10px;
  }
  .quesTitle{
    width:84%;
    padding:0 8%;
  }
  .pingfen ul li img{
    margin-left:0;
  }
}
/*5*/
@media (min-width: 300px) and (max-width: 340px) {
  .dp-title-text{
    font-size: 15px;
    padding-left:15px;
  }
  .dp-month{
    font-size: 15px;
  }
  .quesTitle{
    width:84%;
    padding:0 8%;
  }
  .pingfen ul li img{
    margin-left:0;
  }
}
/*wode*/
@media (min-width: 340px) and (max-width: 365px) {
  .dp-title-text{
    font-size: 16px;
    padding-left:15px;
  }
}
/*6*/
@media (min-width: 365px) and (max-width: 380px) {

}
/*6p*/
@media (min-width: 380px) and (max-width: 450px) {

}

@media (min-width: 450px){
  /*title*/
  .dp-title-text{
    font-size: 20px;
    padding-left:25px;
  }
}

.ques2,.viewSpot,.traffic,.stay,.food,.service{
  display: none;
}
.padding15{
  width:100%;
  height:1.5rem;
  float:left;
}

.pingfen{
  display: none;
  float:left;
  padding-left:15%;
}
.pingfen input{
  display: none;

}
.viewSpot .itemList ul li{
  width:94%;
}

label{
  display: inline-block;
  width:80%;
  font-size:14px;
}