<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.umessage.letsgo.dao.team.AlbumAgencyDao" >
    <resultMap id="BaseResultMap" type="com.umessage.letsgo.domain.po.team.AlbumAgencyEntity" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="travel_id" property="travelId" jdbcType="BIGINT" />
        <result column="object_id" property="objectId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from t_album_agency
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.umessage.letsgo.domain.po.team.AlbumAgencyEntity" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_album_agency (travel_id, object_id, type, photo_url, create_time, update_time)
        values (#{travelId,jdbcType=BIGINT}, #{objectId,jdbcType=BIGINT},
            #{type,jdbcType=INTEGER}, #{photoUrl,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.umessage.letsgo.domain.po.team.AlbumAgencyEntity" >
        update t_album_agency
        set travel_id = #{travelId,jdbcType=BIGINT},
            object_id = #{hotelName,jdbcType=BIGINT},
            type = #{delta,jdbcType=INTEGER},
            photo_url = #{country,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select ID, travel_id, object_id, type, photo_url, create_time, update_time
        from t_album_agency
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" >
        select ID, travel_id, object_id, type, photo_url, create_time, update_time
        from t_album_agency
    </select>

    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
        insert into t_album_agency (travel_id, object_id, type, photo_url, create_time, update_time)
        VALUES <foreach collection="list" item="item" index="index" separator=",">
        (#{item.travelId,jdbcType=BIGINT}, #{item.objectId,jdbcType=BIGINT},
        #{item.type,jdbcType=INTEGER}, #{item.photoUrl,jdbcType=VARCHAR},
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--根据旅行社ID object id 和type 删除照片私有库数据-->
    <delete id="deleteByAlbumAgencyEntity" parameterType="com.umessage.letsgo.domain.po.team.AlbumAgencyEntity" >
        delete from t_album_agency
        where travel_id = #{travelId,jdbcType=BIGINT}
        AND object_id = #{objectId,jdbcType=BIGINT}
        AND type = #{type,jdbcType=INTEGER}
    </delete>

    <!--根据旅行社ID object id 和type 删除照片私有库数据-->
    <delete id="deleteAlbum" parameterType="com.umessage.letsgo.domain.po.team.AlbumAgencyEntity" >
      update t_album_agency set  status = 'deleted'
        WHERE travel_id = #{travelId,jdbcType=BIGINT}
        AND object_id = #{objectId,jdbcType=BIGINT}
        AND type = #{type,jdbcType=INTEGER}
    </delete>

    <!--根据旅行社ID object id 和type 查询照片私有库数据-->
    <select id="selectByAlbumAgencyEntity" resultMap="BaseResultMap" parameterType="com.umessage.letsgo.domain.po.team.AlbumAgencyEntity" >
        select ID, travel_id, object_id, type, photo_url, create_time, update_time
        from t_album_agency
        where travel_id = #{travelId,jdbcType=BIGINT}
        AND object_id = #{objectId,jdbcType=BIGINT}
        AND type = #{type,jdbcType=INTEGER}
    </select>
</mapper>