<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.umessage.letsgo.dao.team.HotelAgencyDao" >
    <resultMap id="BaseResultMap" type="com.umessage.letsgo.domain.po.team.HotelAgencyEntity" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="travel_id" property="travelId" jdbcType="BIGINT" />
        <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
        <result column="delta" property="delta" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="city_id" property="cityId" jdbcType="VARCHAR" />
        <result column="star_lv" property="starLv" jdbcType="VARCHAR" />
        <result column="briefintroduction" property="briefintroduction" jdbcType="VARCHAR" />
        <result column="lon" property="lon" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="hotel_id" property="hotelId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="CustomResultMap" type="com.umessage.letsgo.domain.po.team.HotelAgencyEntity" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="travel_id" property="travelId" jdbcType="BIGINT" />
        <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
        <result column="hotel_id" property="hotelId" jdbcType="VARCHAR" />
        <result column="delta" property="delta" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="city_id" property="cityId" jdbcType="VARCHAR" />
        <result column="star_lv" property="starLv" jdbcType="VARCHAR" />
        <result column="briefintroduction" property="briefintroduction" jdbcType="VARCHAR" />
        <result column="lon" property="lon" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

        <collection property="albumAgencyList" ofType="com.umessage.letsgo.domain.po.team.AlbumAgencyEntity" >
            <id column="al_id" property="id" jdbcType="BIGINT" />
            <result column="al_travel_id" property="travelId" jdbcType="BIGINT" />
            <result column="al_object_id" property="objectId" jdbcType="BIGINT" />
            <result column="al_type" property="type" jdbcType="INTEGER" />
            <result column="al_photo_url" property="photoUrl" jdbcType="VARCHAR" />
            <result column="al_create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="al_update_time" property="updateTime" jdbcType="TIMESTAMP" />
        </collection>
    </resultMap>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from t_hotel_agency
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.umessage.letsgo.domain.po.team.HotelAgencyEntity" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_hotel_agency (travel_id,hotel_id, hotel_name, delta, country, city, city_id,
        star_lv, briefintroduction, lon, lat, create_time, update_time)
        values (#{travelId,jdbcType=BIGINT},#{hotelId,jdbcType=BIGINT}, #{hotelName,jdbcType=VARCHAR},
            #{delta,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR},
            #{starLv,jdbcType=VARCHAR}, #{briefintroduction,jdbcType=VARCHAR}, #{lon,jdbcType=VARCHAR},
            #{lat,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.umessage.letsgo.domain.po.team.HotelAgencyEntity" >
        update t_hotel_agency
        set travel_id = #{travelId,jdbcType=BIGINT},
            hotel_name = #{hotelName,jdbcType=VARCHAR},
            delta = #{delta,jdbcType=VARCHAR},
            country = #{country,jdbcType=VARCHAR},
            city = #{city,jdbcType=VARCHAR},
            city_id = #{cityId,jdbcType=VARCHAR},
            star_lv = #{starLv,jdbcType=VARCHAR},
            briefintroduction = #{briefintroduction,jdbcType=VARCHAR},
            lon = #{lon,jdbcType=VARCHAR},
            lat = #{lat,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select ID, travel_id, hotel_name, delta, country, city, city_id, star_lv, briefintroduction, lon, lat, create_time, update_time
        from t_hotel_agency
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" >
        select ID, travel_id, hotel_name, delta, country, city, city_id, star_lv, briefintroduction, lon, lat, create_time, update_time
        from t_hotel_agency
    </select>
    <select id="selectHotelAndAlbum" resultMap="CustomResultMap" parameterType="java.lang.Long" >
        select ho.ID, ho.travel_id, ho.hotel_name, ho.delta, ho.country, ho.city, ho.city_id, ho.star_lv, ho.briefintroduction, ho.lon, ho.lat, ho.create_time, ho.update_time,
		al.ID AS al_id, al.travel_id AS al_travel_id, al.object_id AS al_object_id, al.type AS al_type, al.photo_url AS al_photo_url , al.create_time AS al_create_time, al.update_time AS al_update_time
        FROM t_hotel_agency AS ho
		LEFT JOIN t_album_agency AS al
		ON al.object_id = ho.ID AND al.travel_id = ho.travel_id AND al.type = 2
        WHERE ho.ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectHotelAgencyByName" resultMap="BaseResultMap" parameterType="com.umessage.letsgo.domain.po.team.HotelAgencyEntity">
        select ID, travel_id, hotel_name, delta, country, city, city_id, star_lv, briefintroduction, lon, lat, create_time, update_time
        from t_hotel_agency
        <where>
            1=1
            <if test="null != hotelName and hotelName !=''.toString()"> AND hotel_name LIKE CONCAT('%',#{hotelName},'%') </if>
            <if test="null != travelId"> AND travel_id = #{travelId}</if>
            <if test="null != cities and cities.size()>0">
            AND city IN
            <foreach item="item" index="index" collection="cities" open="(" separator="," close=")">
                #{item}
            </foreach>
            </if>
        </where>
    </select>
    <select id="selectHotelAgencyBySameName" resultMap="BaseResultMap" parameterType="com.umessage.letsgo.domain.po.team.HotelAgencyEntity">
        select ID, travel_id, hotel_name, delta, country, city, city_id, star_lv, briefintroduction, lon, lat, create_time, update_time
        from t_hotel_agency
        <where>
            1=1
            <if test="null != hotelName and hotelName !=''.toString()"> AND hotel_name = #{hotelName} </if>
            <if test="null != city and city !=''.toString()"> AND city = #{city} </if>
            <if test="null != travelId"> AND travel_id = #{travelId}</if>
        </where>
    </select>
</mapper>